/* Define the port, tri-state reg, and pin. */

#define OW_PIN  1

volatile char ow_port@0x0005;  // PORTA
volatile char ow_tris@0x0085;  // TRISA

// Don't modify this.
#define OW_MASK  (1 << OW_PIN)
